<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927206952114-li4504qt6qpdmj24jhhdpge0t8lhom7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927206952114-li4504qt6qpdmj24jhhdpge0t8lhom7q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927206952114-3vqrr79kda1nko251p07hpftg5vnqba1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyOFoduumROHE0FLuZ-e0rrHrYd8Gmx9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>927206952114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.datingApp</string>
	<key>PROJECT_ID</key>
	<string>heartlink-dating-project</string>
	<key>STORAGE_BUCKET</key>
	<string>heartlink-dating-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927206952114:ios:232b2477d461ff48d88dab</string>
	<key>DATABASE_URL</key>
	<string>https://heartlink-dating-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>